*{
	box-sizing: border-box;
}

.navbar-brand{
	position: absolute;
	font-weight: bold;
	font-family: "Comic Sans MS",cursive, sans-serif;
	font-size: 20px;
	text-align:left;
	color: black !important; 
    width: 100%;
    left: 0;
    margin: 0 auto;

}
	
.navbar-header .navbar-brand{
	background-color: grey;
	border: 2px solid black;
	left: 0;
	right: 0;
}
@media(min-width:768px)
{
	.navbar>.container .navbar-brand {
		margin: 0;
	}	
}


#nav-list a{
  color: black ;
  text-align: center;
  border: 1px solid black;
  font-family: "Comic Sans MS",cursive, sans-serif;
}

#nav-list a:hover{
	background: grey;
}



.text-center{
	font-size: 30px;
	font-family: "Comic Sans MS",cursive, sans-serif;
}
#heading{
	font-family: "Comic Sans MS",cursive, sans-serif;
	font-size: 22px;
}
#p1, #p2, #p3 {
	width: 100%
	margin:5px;
	background-color: grey;
	border:6px solid white;
	position: relative;
	overflow: hidden;
	font-family: "Comic Sans MS",cursive, sans-serif;
	}
